*
{
	font-family:"Comic Sans MS", Times, serif;
	margin:0;
	padding:0;
	border-sizing:border-box;	
	background-color:#f7d9bb;
}
.menu
{
	font-size:175%;
	text-align:center;
	font-weight:bolder;
	margin:30px 0px;
}


.content1
{
	position:relative;
	margin: 10px 15px ;
}
.content2
{
	position:relative;
	margin: 10px 10px 10px 15px  ;
}
.content3
{
	position:relative;
	margin: 10px 15px 10px 10px ;
}
.menutitle
{
	font-size:125%;
	position:absolute;
	top: 0;
	right: 0;
	border: 1.5px solid black;
	text-align: center;
	width:36%;
	height:30px;
}
p
{
	background-color: #ae30e8;
	border: 3px solid black;
	padding: 25px;
}

#chicken{
	background-color: #ffccdd;
	font-weight: bold;
}
#beef{
	background-color: #b93c3b;
	color: white;
	font-weight: bold;
}
#sushi{
	background-color: #e6e600;
	font-weight: bold;
}
.row
{
	width:97%;
	margin:auto;
}

/********** For Laptops **********/
@media (min-width: 992px)
{
	.col-lg-4
	{
		width: 33.33%;
		float:left;
	}
}
/********** For Tablets **********/
@media (min-width: 768px) and (max-width: 991px)
{
		.col-md-6
	{
		width: 50%;
		float:left;
	}
		.col-md-12
	{
		width: 100%;
		float:left;
	}
}
/********** For Tablets **********/
@media (max-width: 767px)
{
		.col-sm-12
	{
		width: 100%;
		float:left;
	}
}
